footer {
  display: flex;
  justify-content: center;
}

footer p {
  color: #f2f2f2;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer p strong {
  font-weight: 700;
  text-decoration-line: underline;
}
