.card-container {
  width: 464px;
  height: 515px;
  border-radius: 24px;
  background: var(--color-5, #fff);
  margin: 252px auto 277px;
}

.card-container header {
  position: relative;
  top: -64px;
  display: flex;
  justify-content: space-between;
}

.card-container header h1 {
  color: var(--color-5);
}
